@(id: String, title: String, header: Int = 5)(body: Html)

@up = {fa-caret-square-up}
@dn = {fa-caret-square-down}

<div class="card">
	<h@header class="card-header">
		<a class="text-body text-decoration-none" href="#@id-body" data-toggle="collapse">
			<i class="fas @dn"></i>
			<span>@title</span>
		</a>
	</h@header>
	<div class="collapse" id="@id-body">
		<div class="card-body">
			@body
		</div>
	</div>
</div>
<script type="text/javascript">
$('#@id-body').on({
	'show.bs.collapse': function() {
		$('a[href="#@id-body"] i.@dn').removeClass('@dn').addClass('@up');
	},
	'hide.bs.collapse': function() {
		$('a[href="#@id-body"] i.@up').removeClass('@up').addClass('@dn');
	}
});
</script>
