@(field: Field, opts: Seq[qxsl.ruler.Section])

@script={
	$('#@{field("city").id}').attr('disabled', !$('#@{field("sect").id}').val());
	$('#@{field("city").id}').selectpicker('refresh');
}

<div class="card bg-light mb-5">
	<h3 class="card-header">
		<span>@{opts.map(_.getCode).distinct}</span>
	</h3>
	<div class="card-body">
		<fieldset>
			@choice(field("sect"), text="部門名", hint="不参加", opts=opts.map(_.getName.split(" ",2).last).distinct)
			@choice(field("city"), text="運用地", hint="未選択", opts=CallArea.total, live=true, hasErrors=field.hasErrors)
		</fieldset>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function() {@script});
$('#@{field("sect").id}').change(function() {@script});
</script>
