@(field: Field, text: String, opts: Seq[qxsl.ruler.Section])

@sect=@{field("sect")}
@city=@{field("city")}

@sectOpts=@{opts.map(_.getName.split(" ", 2).last).distinct}
@cityOpts=@{CallArea.total}

@sectStyle={form-control selectpicker custom-select}
@cityStyle={@sectStyle @if(field.hasErrors){is-invalid}}

<div class="form-group row">
	<label for="@sect.id" class="col-md-1 col-form-label">@text</label>
	<div class="col">
		<select class="@sectStyle" id="@sect.id" name="@sect.name" data-size="10">
			<option class="blank" value="">不参加</option>
		@for(opt <- sectOpts) {
			<option value="@opt" @if(sect.value.contains(opt)){selected="selected"}>@opt</option>
		}
		</select>
	</div>
	<div class="col">
		<select class="@cityStyle" id="@city.id" name="@city.name" data-size="10" data-live-search="true">
			<option class="blank" value="">運用地</option>
		@for(opt <- cityOpts) {
			<option value="@opt" @if(city.value.contains(opt)){selected="selected"}>@opt</option>
		}
		</select>
	</div>
</div>
<script type="text/javascript">
function switch_enabled_@{field.id}() {
	$('#@{city.id}').attr('disabled', !$('#@{sect.id}').val());
	$('#@{city.id}').selectpicker('refresh');
}
$(document).ready(switch_enabled_@field.id);
$('#@{sect.id}').change(switch_enabled_@field.id);
</script>
