@(archive: ArchiveData)(implicit ats: ATS, contest: Contest, admin: Boolean = false)

@warn = @{Option(archive.getWarningMessage).getOrElse("")}

<div class="card mb-5 @if(warn.nonEmpty){bg-warning}">
	<h3 class="card-header border-bottom-0 d-flex align-items-center justify-content-between">
		<span>@{archive.file}</span>
		@if(admin) {
		<a class="btn btn-outline-success" href="@routes.Admin.table(archive.call, archive.file)"><i class="fas fa-download"></i></a>
		}
	</h3>
	@if(warn.nonEmpty){
	@if(admin){
	<pre class="card-body">@{warn}</pre>
	} else {
	<div class="card-body">交信記録が読み取れません。再提出をお勧めします。</div>
	}
	} else {
	<div class="card-body">読み取り完了</div>
	}
</div>
