@(id: String = "", name: String = "", text: String = "", hint: String = "")

<div class="input-group filer">
	<label for="@{id}-button" id="@{id}-name" class="form-control">@hint</label>
	<input type="file" id="@id" name="@name" class="upload-hidden">
	<span class="input-group-btn">
		<button type="button" id="@{id}-button" class="btn btn-default">
			<span class="glyphicon glyphicon-folder-open"></span> 選択
		</button>
	</span>
</div>
<script src="@routes.Filer.view(id)" type="text/javascript"></script>
