@(id: String, form: Form[ContestFormData])(implicit r: RequestHeader, c: Configuration, admin: Boolean)

<div class='card bg-light mb-5'>
	<h3 class='card-header'>
		<span>交信記録</span>
	</h3>
	<div class='card-body'>
		@comps.keep(form("uploads"))
		<div class='input-group' id='@id-form'>
			<input type='file' id='@id' name='@id' class='form-control' multiple>
		</div>
	</div>
	<div id='@id-footer' class='card-footer'>
		既に提出済みの交信記録は、完全に消去されます。
		複数のファイルを選ぶと、自動的に結合されます。
	</div>
</div>
<script>
$('#@id').change(function() {
	const data = new FormData();
	$.each(this.files, (i, file) => data.append('file', file));
	$.ajax({
		type: 'POST',
		data: data,
		cache: false,
		contentType: false,
		processData: false,
		dataType: 'html',
		url: '@helper.CSRF(routes.Entry.trial)',
	}).done((data) => {
		$('#@id-footer').html(data);
	});
	$.ajax({
		type: 'POST',
		data: data,
		cache: false,
		contentType: false,
		processData: false,
		dataType: 'html',
		url: '@helper.CSRF(routes.Entry.unbox)',
	}).done((data) => {
		if(data) {
			const json = JSON.parse(data);
			if(!$('#@{form("station.call").id}').val()) $('#@{form("station.call").id}').val(json.call);
			if(!$('#@{form("station.name").id}').val()) $('#@{form("station.name").id}').val(json.name);
			if(!$('#@{form("station.addr").id}').val()) $('#@{form("station.addr").id}').val(json.addr);
			if(!$('#@{form("station.mail").id}').val()) $('#@{form("station.mail").id}').val(json.mail);
			if(!$('#@{form("station.note").id}').val()) $('#@{form("station.note").id}').val(json.note);
		}
	});
});

$('.keep').change(function() {
	$('#@id').prop('required', !$('.keep:checked').length);
});
$(function() {
	$('#@id').prop('required', !$('.keep:checked').length);
});
</script>
