@(title: String = "", nav: String = "")(content: Html)(implicit cfg: Configuration, admin: Boolean=false)

@name = @{cfg.get[String]("contest.name")}
@host = @{cfg.get[String]("contest.host")}
@mail = @{cfg.get[String]("contest.mail")}
@site = @{cfg.get[String]("contest.site")}

<html>
	<head>
		<title>@name ATS-4 - @host</title>
		<link rel="stylesheet" href="@routes.Assets.versioned("css/bootstrap.css")" media="print,screen">
		<link rel="stylesheet" href="@routes.Assets.versioned("css/fontawesome.css")">
		<link rel="stylesheet" href="@routes.Assets.versioned("css/fontawesome-solid.css")">
		<link rel="stylesheet" href="@routes.Assets.versioned("css/main.css")">
		<script src="@routes.Assets.versioned("js/jquery-3.4.1.js")" type="text/javascript"></script>
		<script src="@routes.Assets.versioned("js/bootstrap.js")" type="text/javascript"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
			<a class="navbar-brand" href="@routes.Index.view">ATS-4</a>
			<button class="navbar-toggler" data-toggle="collapse" data-target="#nav">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="nav">
				<div class="navbar-nav mr-auto">
					<a class="nav-item nav-link @("active".when(nav == "entry"))" href="@routes.Entry.form">書類提出</a>
					<a class="nav-item nav-link @("active".when(nav == "lists"))" href="@routes.Lists.view">暫定結果</a>
					<a class="nav-item nav-link @("active".when(nav == "board"))" href="@routes.Board.view">皆様の声</a>
					<a class="nav-item nav-link @("active".when(nav == "admin"))" href="@routes.Admin.view">管理画面</a>
					@if(admin) {
					<a class="nav-item nav-link @("active".when(nav == "agent"))" href="@routes.Admin.edit(None)">代理提出</a>
					}
					<a class="nav-item nav-link @("active".when(nav == "guide"))" href="@routes.Guide.view">FAQ</a>
				</div>
				<div class="navbar-nav">
					<a class="nav-item nav-link" href="http://@site">@host</a>
					<a class="nav-item nav-link" href="http://pafelog.net">無線部開発班</a>
					<a class="nav-item nav-link" href="http://pafelog.net/ats4.pdf">解説</a>
					<a class="nav-item nav-link" href="mailto:@mail">不具合を報告</a>
				</div>
			</div>
		</nav>
		<div class="container-fluid">
			@if(title.nonEmpty) {
			<div class="border-bottom mb-4">
				<h1 class="my-2">@title</h1>
			</div>
			}
			@if(admin) {
			<div class="alert alert-danger">
				このページは管理者用につき、外部から閲覧可能な場合は直ちに設定を修正せよ。
			</div>
			}
			@content
		</div>
	</body>
</html>
