@(field: Field, text: String = "", hint: String = "", multiline: Boolean = false)

@style = {form-control @if(field.hasErrors){is-invalid}}

<div class="form-group row">
	<label for="@field.name" class="col-md-1 col-form-label">@text</label>
	<div class="col">
	@if(multiline) {
		<textarea class="@style" name="@field.name" placeholder="@hint" rows="10">@field.value</textarea>
	} else {
		<input type="text" class="@style" name="@field.name" placeholder="@hint" value="@field.value">
	}
	</div>
</div>
