@(title: String = "", nav: String = "")(content: Html)(implicit in: Injections, admin: Boolean)


<!DOCTYPE html>
<html lang='ja'>
	<head>
		<title>@in.rule.name() ATS-4 - @in.rule.host()</title>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		@comps.head()
		<!--assets-->
		<link rel='stylesheet' href='@routes.Assets.versioned("main.css")'>
	</head>
	<body>
		<nav class='navbar navbar-expand-lg navbar-dark bg-dark fixed-top'>
			<div class='container-fluid'>
				<a class='navbar-brand' href='@routes.Index.index'>ATS-4</a>
				<button type='button' class='navbar-toggler' data-bs-toggle='collapse' data-bs-target='#nav'>
					<span class='navbar-toggler-icon'></span>
				</button>
				<div class='collapse navbar-collapse' id='nav'>
					<div class='navbar-nav'>
						@navi(href = routes.Admin.index.url, label = "管理", active = admin, icon = "fas fa-key")
						@if(admin) {
							@navi(href = routes.Admin.index.url, label = "集計結果", active = nav == "lists", icon = "fas fa-trophy")
							@navi(href = routes.Admin.entry.url, label = "書類提出", active = nav == "entry", icon = "fas fa-upload")
							@navi(href = routes.Shell.shell.url, label = "規約開発", active = nav == "shell", icon = "fas fa-terminal")
							@navi(href = routes.Email.email.url, label = "連絡送信", active = nav == "email", icon = "fas fa-envelope")
						} else {
							@navi(href = routes.Index.entry.url, label = "書類提出", active = nav == "entry", icon = "fas fa-upload")
							@navi(href = routes.Index.lists.url, label = "集計結果", active = nav == "lists", icon = "fas fa-trophy")
							@navi(href = routes.Index.calls.url, label = "全参加局", active = nav == "calls", icon = "fas fa-user-alt")
							@navi(href = routes.Index.forum.url, label = "皆様の声", active = nav == "forum", icon = "fas fa-comments")
							@navi(href = routes.Index.guide.url, label = "提出方法", active = nav == "guide", icon = "fas fa-question")
							@navi(href = s"mailto:${in.rule.mail}", label = "運営に連絡", icon = "fas fa-envelope")
						}
					</div>
					<div class='navbar-nav ms-auto'>
						@navi(href = in.rule.link(), label = in.rule.host())
						@navi(href = "https://github.com/nextzlog/ats4", label = "GitHub", icon = "fab fa-github")
						@navi(href = "https://nextzlog.dev", label = "無線部開発班")
					</div>
				</div>
			</div>
		</nav>
		<div class='container-fluid content'>
			@if(title.nonEmpty) {
				<div class='border-bottom mb-4'>
					<h1 class='my-2'>@title</h1>
				</div>
			}
			@content
		</div>
	</body>
</html>
