@(field: Field, parent: Field, sectOpts: Iterable[Section])

@cityOpts = @{sectOpts.map(_.getCityList()).flatten.toSeq.distinct}

@comps.opts(field("sect"), sectOpts.map(_.toString()), style = "sect selectpicker my-2")(parent)
@comps.opts(field("city"), cityOpts.map(_.toString()), style = "city selectpicker my-2", empty = "運用地が未選択です")(parent)

<script>
$(() => $('select.city').change(function() {
	if(!$('#@field("city").id').val()) $('#@field("city").id').selectpicker('val', this.value);
}));
</script>
