@(ranking: RankingData, items: Seq[Item])(implicit in: Injections, admin: Boolean)

@summary = @{util.Try(in.rule.section(ranking.sect).summarize(items.asJava))}

@if(!in.rule.section(ranking.sect).isAbsence) {
	<div class='card my-5'>
		<h3 class='card-header'>
			<span>@ranking.sect</span>
		</h3>
		<div class='card-body'>
			@{ranking.city}
		</div>
		@if(summary.isSuccess) {
			<table class='table table-hover table-borderless font-monospace mb-0'>
				<thead class='table-light'>
					<tr>
						<th>日時</th>
						<th>呼出符号</th>
						<th>周波数帯</th>
						<th>通信方式</th>
						<th>受信</th>
						<th>送信</th>
						<th>担当</th>
						<th>素点</th>
						<th>照合</th>
						<th>無効</th>
					</tr>
				</thead>
				<tbody>
					@for((msg, item) <- summary.get.accepted().map(msg => (msg, msg.item()))) {
						<tr>
							<td>@comps.time(item.get(Qxsl.TIME).asInstanceOf[Time])</td>
							<td>@comps.call(item.get(Qxsl.CALL).toString())</td>
							<td>@{item.get(Qxsl.BAND)}</td>
							<td>@{item.get(Qxsl.MODE)}</td>
							<td>@{item.getRcvd().get(Qxsl.CODE)}</td>
							<td>@{item.getSent().get(Qxsl.CODE)}</td>
							<td>@{item.get(Qxsl.NAME)}</td>
							<td>@{msg.score()}</td>
							<td>@comps.sign(item.get(Qxsl.SIGN).asInstanceOf[Sign])</td>
							<td>@if(admin) {@msg.text}</td>
						</tr>
					}
					@for((msg, item) <- summary.get.rejected().map(msg => (msg, msg.item()))) {
						<tr>
							<td>@comps.time(item.get(Qxsl.TIME).asInstanceOf[Time])</td>
							<td>@comps.call(msg.item.get(Qxsl.CALL).toString())</td>
							<td>@{msg.item.get(Qxsl.BAND)}</td>
							<td>@{msg.item.get(Qxsl.MODE)}</td>
							<td>@{msg.item.getRcvd().get(Qxsl.CODE)}</td>
							<td>@{msg.item.getSent().get(Qxsl.CODE)}</td>
							<td>@{msg.item.get(Qxsl.NAME)}</td>
							<td>@{msg.score()}</td>
							<td>-</td>
							<td class='text-warning'>@if(admin) {@msg.text} else {無効}</td>
						</tr>
					}
				</tbody>
			</table>
		} else {
			<div class='alert alert-warning'>
				得点計算の処理でエラーが発生しました。
			</div>
			@if(admin) {
				<pre class='text-white bg-dark rounded p-2'>@{summary.failed.get}</pre>
			}
		}
	</div>
}
