@(head: String, record: Record, items: Seq[qxsl.model.Item])(footer: Html)(implicit admin: Boolean=false)

@import java.time.format.DateTimeFormatter
@import qxsl.extra.field.{Qxsl,Time}

@dfmt = @{DateTimeFormatter.ofPattern("yyyy-MM-dd HH:mm:ss OOOO")}
@time(t: Time)=@{t.value.format(dfmt)}

<div class="card mb-5">
	<h3 class="card-header border-bottom-0 d-flex align-items-center justify-content-between">
		<span>@head</span>
	@if(admin) {
		<a class="btn btn-outline-success" href="@routes.Admin.save(Some(record.id))"><i class="fas fa-download"></i></a>
	}
	</h3>
	<table class="table table-hover">
		<thead>
			<tr>
				<th width="26%">交信日時</th>
				<th width="16%">相手局</th>
				<th width="16%">周波数帯</th>
				<th width="16%">通信方式</th>
				<th width="16%">運用地</th>
			</tr>
		</thead>
		<tbody>
			@for(item <- items) {
			<tr>
				<td>@{time(item.get(Qxsl.TIME).asInstanceOf[Time])}</td>
				<td>@{item.get(Qxsl.CALL)}</td>
				<td>@{item.get(Qxsl.BAND)}</td>
				<td>@{item.get(Qxsl.MODE)}</td>
				<td>@{item.getRcvd.get(Qxsl.CODE)}</td>
			</tr>
			}
		</tbody>
	</table>
	<div class="card-footer">
		@footer
	</div>
</div>
