@(id: String, form: Form[ContestFormData])(implicit req: RequestHeader, admin: Boolean = false)

@hint = {未選択 (*.ZLO, *.LG8, *.ADI, ...)}

<div class="card bg-light mb-5">
	<h3 class="card-header">
		<span>交信記録</span>
	</h3>
	<div class="card-body">
		<fieldset>
			@helper.repeat(form("uploads"), min = 0) {field =>
			<div class="form-group input-group">
				<div class="input-group-prepend">
					<div class="input-group-text">
						<input class="keep-file" type="checkbox" id='@field("keep").id' name='@field("keep").name' value=@field("keep").value checked>
					</div>
				</div>
				<label class="form-control" for='@field("keep").id'>@field("file").value</label>
				<input type='hidden' id='@field("file").id' name='@field("file").name' value='@field("file").value'>
			</div>
			}
			<div class="form-group custom-file">
				<input type="file" id="@id" name="@id" class="custom-file-input" multiple>
				<label class="custom-file-label" id="@id-label" for="@id" data-browse="参照">@hint</label>
			</div>
		</fieldset>
	</div>
	<div id="@id-footer" class="card-footer">
		全ての部門の交信記録を添付しましょう。
		複数のファイルをまとめて選択できます。
	</div>
</div>
<script type="text/javascript">
$('#@id').on('change', function() {
	const text = Array.from(this.files).map(f => f.name).join(', ');
	$('#@id-label').html(!text? '@hint': text);
	const data = new FormData();
	$.each(this.files, (i, file) => data.append('file', file));
	$.ajax({
		type: "POST",
		data: data,
		cache: false,
		contentType: false,
		processData: false,
		dataType: "html",
		url: '@helper.CSRF(routes.Entry.trial)',
	}).done((data) => {
		$('#@id-footer').html(data);
	});
	$.ajax({
		type: "POST",
		data: data,
		cache: false,
		contentType: false,
		processData: false,
		dataType: "html",
		url: '@helper.CSRF(routes.Entry.unbox)',
	}).done((data) => {
		if(data) {
			const json = JSON.parse(data);
			if(!$('#@{form("station.call").id}').val()) $('#@{form("station.call").id}').val(json.call);
			if(!$('#@{form("station.name").id}').val()) $('#@{form("station.name").id}').val(json.name);
			if(!$('#@{form("station.addr").id}').val()) $('#@{form("station.addr").id}').val(json.addr);
			if(!$('#@{form("station.mail").id}').val()) $('#@{form("station.mail").id}').val(json.mail);
			if(!$('#@{form("station.note").id}').val()) $('#@{form("station.note").id}').val(json.note);
		}
	});
});
$('.keep-file').on('change', function() {
	$('#@id').prop('required', !$('.keep-file:checked').length);
});
$(function() {
	$('#@id').prop('required', !$('.keep-file:checked').length);
});
</script>
