@(id: String, title: String, button: String = "", icon: String = "", submit: Boolean = false)(message: Html)(implicit in: Injections)

<button type='button' class='btn btn-lg btn-primary' data-bs-toggle='modal' data-bs-target='#@{id}Dialog'>
	@if(icon.nonEmpty) {
		<i class='@icon'></i>
	}
	@button
</button>

<div class='modal' id='@{id}Dialog'>
	<div class='modal-dialog modal-lg modal-dialog-scrollable'>
		<div class='modal-content'>
			<div class='modal-header'>
				<h4 class='modal-title'>@title</h4>
			</div>
			<div class='modal-body'>
				@message
			</div>
			<div class='modal-footer'>
				@post(id = s"${id}Button", label = button, icon = icon, submit = submit)
				<button type='button' class='btn btn-primary' data-bs-dismiss='modal'>@in.msg("close")</button>
			</div>
		</div>
	</div>
</div>
