@(id: String, title: String, button: String = "", icon: String = "", submit: Boolean = false, hidden: Boolean = true)(message: Html)

@if(hidden) {
	<button type='button' class='btn btn-lg btn-primary' data-bs-toggle='modal' data-bs-target='#@{id}Dialog'>
		@if(icon.nonEmpty) {
			<i class='@icon'></i>
		}
		@button
	</button>
} else {
	<script>
	$(() => new bootstrap.Modal($('#@{id}Dialog')).show());
	</script>
}

<div class='modal' id='@{id}Dialog'>
	<div class='modal-dialog modal-lg modal-dialog-scrollable'>
		<div class='modal-content'>
			<div class='modal-header'>
				<h4 class='modal-title'>@title</h4>
			</div>
			<div class='modal-body'>
				@message
			</div>
			<div class='modal-footer'>
				@post(id = s"${id}Button", label = button, icon = icon, submit = submit)
				<button type='button' class='btn btn-primary' data-bs-dismiss='modal'>閉じる</button>
			</div>
		</div>
	</div>
</div>
