div.content {
	padding-top: 5rem;
	padding-bottom: 3rem;
}

blockquote {
	background: #f9f9f9;
	border-left: 5px solid #f39800;
	margin: 1.5em 0px;
	padding: 0.5em 10px;
}

blockquote:before {
	color: #f39800;
	content: "\201C";
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}

blockquote p {
	display: inline;
}

label.custom-file-label {
	cursor: pointer;
}

input.custom-file-input {
	cursor: pointer;
}

.bootstrap-select .btn {
	background-color: white;
}

th {
	text-align: left;
}

tr.link > td {
	cursor: pointer;
}

tr.award > td {
	color: red;
	font-weight: bold;
}

pre {
	tab-size: 2;
}
