@()(implicit in: Injections, admin: Boolean)

@comps.page(title = in.msg("calls"), nav = "calls") {
	<table class='table table-hover font-monospace'>
		<thead class='table-light'>
			<tr>
				<th>#</th>
				<th>@in.msg("call")</th>
				<th>@in.msg("warn")</th>
			</tr>
		</thead>
		<tbody>
			@for((station, count) <- in.ats.stations().list().asScala.zipWithIndex) {
				@if(in.ats.rankings().byCall(station.call).asScala.exists(_.scoreless(in.rule))) {
					<tr class='table-warning'>
						<td>@{count + 1}
						<td>@station.call</td>
						<td>@in.msg("unscored")</td>
					</tr>
				} else if(in.ats.rankings.byCall(station.call).isEmpty) {
					<tr class='table-warning'>
						<td>@{count + 1}
						<td>@station.call</td>
						<td>@in.msg("unlinked")</td>
					</tr>
				} else {
					<tr>
						<td>@{count + 1}
						<td>@station.call</td>
						<td>-</td>
					</tr>
				}
			}
		</tbody>
	</table>
}
