@(form: Form[ContestFormData], warn: Option[Html] = None)(implicit r: RequestHeader, in: Injections, admin: Boolean)

@post = {p-postal-code}
@addr = {p-region p-locality p-street-address p-extended-address}

@comps.page(title = in.msg("entry"), nav = "entry") {
	@if(in.rule.accept() || admin) {
		@if(warn.nonEmpty) {
			<div class='alert alert-warning'>
				@warn
			</div>
		}
		@helper.form(action = if(admin) routes.Force.edit else routes.Entry.entry, Symbol("enctype")->"multipart/form-data") {
			@helper.CSRF.formField
			<div class='card mb-5'>
				<h3 class='card-header'>
					<span>@in.msg("upload-warn")</span>
				</h3>
				<ul class='list-group list-group-flush'>
					<li class='list-group-item'>@in.msg("upload-warn-1")</li>
					<li class='list-group-item'>@in.msg("upload-warn-2")</li>
				</ul>
			</div>
			@comps.file(id = "sheet", form = form)
			<div class='card bg-light mb-5'>
				<h3 class='card-header'>
					<span>@in.msg("upload-station")</span>
				</h3>
				<div class='card-body'>
					<fieldset class='h-adr'>
						<input type='hidden' class='p-country-name' value='Japan'>
						@comps.text(form("station.call"), label = in.msg("call"), hint = in.msg("call-hint"))
						@comps.text(form("station.name"), label = in.msg("name"), hint = in.msg("name-hint"))
						@comps.text(form("station.post"), label = in.msg("post"), hint = in.msg("post-hint"), style = Some(post))
						@comps.area(form("station.addr"), label = in.msg("addr"), hint = in.msg("addr-hint"), style = Some(addr))
						@comps.text(form("station.mail"), label = in.msg("mail"), hint = in.msg("mail-hint"))
						@comps.area(form("station.note"), label = in.msg("note"), hint = in.msg("note-hint"))
						@comps.data(form("station.uuid"))
					</fieldset>
				</div>
			</div>
			@for((code, idx) <- in.rule.getSectionCodes().asScala.map(c => Seq.fill(in.rule.limitMultipleEntry(c))(c)).flatten.zipWithIndex) {
				<div class='card bg-light mb-5'>
					<h3 class='card-header'>
						<span>@code</span>
					</h3>
					<div class='card-body'>
						<fieldset>
							@comps.sect(form(s"entries[$idx]"), form("entries"), sectOpts=in.rule.filter(_.code == code))
						</fieldset>
					</div>
				</div>
			}
			@comps.warn(id = "submit", title = in.msg("upload"), button = in.msg("upload"), icon = "fas fa-upload", submit = true) {
				<p>@in.msg("disable")</p>
				<div class='card my-3'>
					<div class='card-header'>
						@in.rule.host()
					</div>
					<div class='card-body' id='help'></div>
				</div>
			}
		}
	} else {
		<a class='btn btn-lg btn-outline-primary mx-2' href='@routes.Index.lists'>@in.msg("lists")</a>
	}
	<script>
	$('form').submit(function() {
		$(this).find(':submit').prop('disabled', 'true');
	});
	$(function() {
		$('div#help').append(marked.parse(`@{in.rule.help()}`));
	});
	</script>
}
