@(form: Form[Client], warn: Option[Html] = None)(implicit req: RequestHeader, admin: Boolean = false)

@import java.util.UUID

@comps.frame(title = "書類提出", nav = if(admin) "force" else "entry") {
@if(warn.nonEmpty) {
<div class="alert alert-danger">
	<i class="fas fa-exclamation-triangle"></i> @warn
</div>
}
@helper.form(action = routes.Entry.entry(), Symbol("class")->"form-horizontal", Symbol("enctype")->"multipart/form-data") {
@helper.CSRF.formField
<div class="card bg-light mb-5">
	<h3 class="card-header">
		<span>共通事項</span>
	</h3>
	<div class="card-body">
		<fieldset>
			@input(form("person.call"), text="呼出符号", hint="移動運用の例: JA1ZLO/1")
			@input(form("person.name"), text="お名前", hint="この宛名で賞を発送します。")
			@input(form("person.post"), text="ご住所", hint="この宛先に賞を発送します。", multiline=true)
			@input(form("person.mail"), text="メール", hint="受理通知メールが届きます。")
			@input(form("person.note"), text="ご感想", hint="呼出符号付きで公表します。", multiline=true)
			@input(form("person.uuid"), hidden=true)
		</fieldset>
	</div>
	<div class="card-footer">
		書類提出で問題が発生した場合には、状況確認のご連絡を差し上げる場合があります。
	</div>
</div>
@for(((code, sects), idx) <- Subtests.groups.zipWithIndex) {
<div class="card bg-light mb-5">
	<h3 class="card-header">
		<span>@code</span>
	</h3>
	<div class="card-body">
		<fieldset>
			@choice(form(s"ticket[$idx]"), sectOpts=sects, cityOpts=CityBase.all)
		</fieldset>
	</div>
</div>
}
<div class="card bg-light mb-5">
	<h3 class="card-header">
		<span>交信記録</span>
	</h3>
	<div class="card-body">
		<fieldset>
			@upload(id="sheet", hint="未選択 (*.ZLO, *.LG8, *.ADI, *.ADX)")
		</fieldset>
	</div>
	<div class="card-footer">
		交信記録は、複数のファイルを選択することで、分割して提出できます。
		団体部門の場合は、各交信の運用者を識別できる交信記録を受理します。
	</div>
</div>
<a class="btn btn-lg btn-primary" href="#submitModal" data-toggle="modal"><i class="fas fa-thumbs-up"></i> この内容で提出する</a>
<a class="btn btn-lg btn-outline-secondary" href="@routes.Index.guide()"><i class="fas fa-question"></i> ヘルプ画面に移動する</a>
<div class="modal" id="submitModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">書類提出</h4>
			</div>
			<div class="modal-body">
				<p>以前の登録内容を全て破棄して、指定された部門で参加登録します。</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" id="submit" type="submit">提出する</button>
				<button class="btn btn-default" data-dismiss="modal">キャンセル</button>
			</div>
		</div>
	</div>
</div>
}
}
