@(form: Form[Post], warn: Option[Html]=None)(implicit cfg: Configuration, req: RequestHeader, admin: Boolean=false)

@import comps._

@comps.frame(title="書類提出", nav=if(admin) "agent" else "entry") {
@if(warn.nonEmpty) {
<div class="alert alert-danger">
	<i class="fas fa-exclamation-triangle"></i> @warn
</div>
}
@helper.form(action=routes.Entry.post, Symbol("class")->"form-horizontal", Symbol("enctype")->"multipart/form-data") {
@helper.CSRF.formField
<div class="card bg-light mb-5">
	<h3 class="card-header">
		<span>共通事項</span>
	</h3>
	<div class="card-body">
		<fieldset>
			@input(form("team.call"), text="呼出符号", hint="移動運用の例: JA1ZLO/1")
			@input(form("team.name"), text="お名前", hint="この宛名で賞を発送します。")
			@input(form("team.addr"), text="ご住所", hint="この宛先に賞を発送します。")
			@input(form("team.mail"), text="メール", hint="受理通知メールが届きます。")
			@input(form("team.comm"), text="ご感想", hint="呼出符号付きで公表します。", multiline=true)
		</fieldset>
	</div>
</div>
<div class="alert alert-info">
	<span>参加した部門ごとに部門の名前と運用地を選択します。不参加の部門は「不参加」を選びます。</span>
</div>
<div class="card bg-light mb-5">
	<h3 class="card-header">
		<span>個人部門</span>
	</h3>
	<div class="card-body">
		<fieldset>
			@choice(form("parts[0]"), text="ハイバンド", opts=Sections.SinHBs)
			@choice(form("parts[1]"), text="ローバンド", opts=Sections.SinLBs)
			@choice(form("parts[2]"), text="デジタル",   opts=Sections.SinDGs)
		</fieldset>
	</div>
</div>
<div class="card bg-light mb-5">
	<h3 class="card-header">
		<span>団体部門</span>
	</h3>
	<div class="card-body">
		<fieldset>
			@choice(form("parts[3]"), text="アナログ", opts=Sections.MulABs)
			@choice(form("parts[4]"), text="デジタル", opts=Sections.MulDGs)
		</fieldset>
	</div>
</div>
<div class="card bg-light mb-5">
	<h3 class="card-header">
		<span>交信記録</span>
	</h3>
	<div class="card-body">
		<fieldset>
			@upload(id="sheet", text="交信記録", hint="未選択")
		</fieldset>
	</div>
	<div class="card-footer d-flex align-items-center justify-content-between">
		<span>Cabrillo/JARLサマリーシートを添付した場合は、交信記録のみを読み取ります。</span>
		<a class="btn btn-lg btn-outline-secondary" href="@routes.Guide.view"><i class="fas fa-question"></i> よくあるご質問</a>
	</div>
</div>
<a class="btn btn-lg btn-primary" href="#submitModel" data-toggle="modal"><i class="fas fa-thumbs-up"></i> この内容で提出する</a>
<div class="modal" id="submitModel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">書類提出</h4>
			</div>
			<div class="modal-body">
				<p>以前の登録内容を全て破棄して、指定された部門で参加登録します。</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" id="submit" type="submit">提出する</button>
				<button class="btn btn-default" data-dismiss="modal">キャンセル</button>
			</div>
		</div>
	</div>
</div>
}
}
