@()(implicit ats: ATS, rule: Program)

@comps.frame(title = "ヘルプ", nav = "guide") {
	<div class='card my-3'>
		<h3 class='card-header'>交信記録ファイルの書式</h3>
		<div class='card-body'>
			<p>以下の書式での提出が可能です。</p>
			<ul>
				@for(fmt <- new TableManager()) {
					<li class='my-2'>
						<h5>@fmt.name</h5>
						@if(fmt.help.nonEmpty) {
							<pre class='text-white bg-dark rounded p-2'>@{fmt.help}</pre>
						}
					</li>
				}
			</ul>
		</div>
	</div>
	<div class='card my-3'>
		<h3 class='card-header'>サマリーシート等の書式</h3>
		<div class='card-body'>
			<p>以下の書式での提出が可能です。</p>
			<ul>
				@for(fmt <- new SheetManager()) {
					<li class='my-2'>
						<h5>@fmt.name</h5>
						@if(fmt.help.nonEmpty) {
							<pre class='text-white bg-dark rounded p-2'>@{fmt.help}</pre>
						}
					</li>
				}
			</ul>
		</div>
	</div>
}
