@()(implicit cfg: Configuration)

@import comps._
@mail = @{cfg.get[String]("contest.mail")}

@comps.frame(title="よくあるご質問", nav="quest") {
<p>お困りの内容に応じて、パネルをクリックします。</p>
@accord(id="fmts", title="書式崩れ・未対応と表示される場合") {
@accord(id="zlog", title="zLogをご利用の場合") {
<p>zLogバイナリファイルでの提出をお試しください。</p>
}
@accord(id="HLOG", title="HLTSTをご利用の場合") {
<p>JARLサマリーシートR2.0での提出をお試しください。</p>
}
@accord(id="CTST", title="CTESTWINをご利用の場合") {
<p>JARLサマリーシートR2.0での提出をお試しください。</p>
}
}

@accord(id="rjct", title="有効な交信と無効な交信の判断基準") {
@accord(id="freq", title="無効な周波数帯") {
<p>例えば7MHz帯部門で参加する場合、3.5MHz帯での交信は得点になりません。</p>
}
@accord(id="mode", title="無効な通信方式") {
<p>電信部門で参加する場合、電話方式での交信は得点になりません。</p>
}
@accord(id="area", title="無効な交信相手") {
<p>1エリア外の無線局は1エリア内の無線局と交信した場合のみ得点になります。</p>
}
@accord(id="city", title="無効な運用場所") {
<p>1エリアでは市区町村番号、その他のエリアでは府県支庁番号を使用します。</p>
}
}
@accord(id="rsub", title="誤った内容で提出してしまった場合") {
<p>受付期間内であれば上書き再提出することができます。</p>
}
@accord(id="mail", title="提出したのにメールが届かない場合") {
<p>照会をご希望の場合は主催者に問い合わせてください。</p>
}
<a class="btn btn-lg btn-primary" href="mailto:@mail"><span class="glyphicon glyphicon-envelope"></span> お問い合わせ</a>
}
