@()(implicit cfg: Configuration)

@import comps._
@mail = @{cfg.get[String]("contest.mail")}

@comps.frame(title="よくあるご質問", nav="guide") {
<p>お困りの内容に応じて、パネルをクリックします。</p>
<div class="my-3">
	@accord(id="fmts", title="交信記録のフォーマットの対応状況") {
	<p>以下のバイナリフォーマットもしくはテキストフォーマットでの提出が可能です。</p>
	@for(fmt <- new qxsl.table.TableFormats()) {
		<div class="my-2">
			<h5>@{fmt}</h5>
		@if(fmt.getDescription.nonEmpty) {
			<pre class="text-white bg-dark rounded p-2">@{fmt.getDescription}</pre>
		}
		</div>
	}
	}
</div>
<div class="my-3">
	@accord(id="summ", title="サマリーシートでの交信記録の提出") {
	<p>以下のサマリーシートでも提出できます。交信記録の部分は、別記の対応済み書式に従います。</p>
	@for(fmt <- new qxsl.sheet.SheetFormats()) {
		<div class="my-2">
			<h5>@{fmt}</h5>
		@if(fmt.getDescription.nonEmpty) {
			<pre class="text-white bg-dark rounded p-2">@{fmt.getDescription}</pre>
		}
		</div>
	}
	}
</div>
<div class="my-3">
	@accord(id="rjct", title="有効な交信と無効な交信の判断基準") {
	<ul>
		<li><strong>無効な運用時間。</strong>周波数毎に定める所定の時間外の交信は、得点になりません。</li>
		<li><strong>無効な周波数帯。</strong>参加部門でない周波数帯で交信した場合、得点になりません。</li>
		<li><strong>無効な通信方式。</strong>電信部門で参加する場合、電話での交信は得点になりません。</li>
		<li><strong>無効な交信相手。</strong>1エリア外の無線局は、1エリア内の局と交信した場合のみ得点になります。</li>
		<li><strong>無効な運用場所。</strong>1エリア内では市区町村番号を、1エリア外では府県支庁番号を使用します。</li>
	</ul>
	}
</div>
<div class="my-3">
	@accord(id="rsub", title="誤った内容で提出してしまった場合") {
	<p>受付期間内であれば上書き再提出することができます。</p>
	}
</div>
<div class="my-3">
	@accord(id="mail", title="提出したのにメールが届かない場合") {
	<p>照会をご希望の場合は主催者に問い合わせてください。</p>
	}
</div>
<a class="btn btn-lg btn-primary" href="mailto:@mail"><i class="fas fa-envelope"></i> お問い合わせ</a>
}
