@(status: Option[Int]=None)(implicit cfg: Configuration, db: Database)

@name=@{cfg.get[String]("contest.name")}
@rule=@{cfg.get[String]("contest.rule")}
@late=@{models.Record.all.filter(_.comm.nonEmpty).last}

@comps.frame(nav="index") {
<div class="jumbotron text-center">
	<h1 class="display-2">@name</h1>
	<h2 class="display-4">書類受付システム</h2>
	<p class="lead my-3">
		<span>Automatic Acceptance &amp; Tabulation System Type 4 for Amateur-Radio Contests powered by</span>
		<a href="https://github.com/nextzlog/qxsl">Elva LISP</a>.
	</p>
	<div class="row d-flex justify-content-center py-2">
		<a class="btn btn-lg btn-outline-dark mx-2" href="http://@rule">参加規約を確認する</a>
	@if(DeadLine.isOK) {
		<a class="btn btn-lg btn-outline-primary mx-2" href="@routes.Entry.form">交信記録を提出する</a>
	} else {
		<a class="btn btn-lg btn-outline-primary mx-2" href="@routes.Lists.view">暫定結果を確認する</a>
	}
	</div>
</div>
<div class="page-header text-center">
@if(status.nonEmpty) {
	<h3 class="text-warning">@status</h3>
}
</div>
<div class="text-center">
@if(DeadLine.demo) {
	<p>現在、試用期間中です。コンテストに参加予定の皆様は、滞りなく書類提出できるか事前にご確認いただけます。</p>
} else if(DeadLine.isOK) {
	<p>午前と午後の双方の部門に参加した場合は、それぞれ別々に提出します。総合部門には、自動的に登録されます。</p>
} else {
	<p>提出期間外につき、新規の提出書類は原則として受理できません。参加者の皆様は、暫定結果をご確認ください。</p>
}
</div>
<blockquote>
	<p>@late.comm <footer><a href="@routes.Board.view#@late.call">@late.call (@late.city)</a></footer></p>
</blockquote>
}
