@(status: Option[Int] = None)(implicit cfg: Configuration, ats: ATS, rule: Program, admin: Boolean)

@notes = @{ats.stations().list().asScala.filter(_.note.nonEmpty)}

@comps.frame(nav = "index") {
	<div class='bg-light rounded p-5 my-3 text-center'>
		@if(status.isEmpty) {
			<h1 class='display-1'>@rule.name()</h1>
			<h1 class='display-5'>書類受付システム</h1>
			<p class='lead my-3'>
				@{rule.getStartDay()}開催
				@{rule.getDeadLine()}締切
			</p>
			<div class='d-flex justify-content-center py-2'>
				<a class='btn btn-lg btn-outline-dark mx-2' href='http://@rule.link()'>規約を閲覧する</a>
				@if(rule.accept()) {
					<a class='btn btn-lg btn-outline-primary mx-2' href='@routes.Index.entry'>書類を提出する</a>
				} else {
					<a class='btn btn-lg btn-outline-primary mx-2' href='@routes.Index.lists'>結果を閲覧する</a>
				}
			</div>
		} else {
			<h1 class='display-1'>@status</h1>
			<h1 class='display-5'>ERROR</h1>
			@comps.email()
		}
	</div>
	<div class='text-center'>
	@if(cfg.get[Boolean]("play.mailer.mock")) {
		<div class='alert alert-warning'>
			メール送信機能は試験モードに設定されています。実際には送信されません。
		</div>
	} else if(!rule.accept()) {
		<div class='alert alert-info'>
			提出期間外につき、新規の提出は受理できません。暫定結果を閲覧できます。
		</div>
	}
	</div>
	<figure>
		@defining(util.Random.shuffle(notes).headOption) {station =>
			<blockquote class='blockquote'>
				@station.map(_.note).getOrElse("本日は晴天なり")
			</blockquote>
			<figcaption class='blockquote-footer'>
				@station.map(_.call).getOrElse(rule.host())
			</figcaption>
		}
	</figure>
	<div class='text-center'>
		<a href='https://zlog.org'>zLog令和エディションで快適なコンテストを体験しよう。</a>
	</div>
	<footer class='text-center text-muted bg-light fixed-bottom'>
		Contributed by @Source.fromResource("contributors").getLines().mkString(", ").
	</footer>
}
