@(status: Option[Int] = None)(implicit in: Injections, admin: Boolean)

@notes = @{in.ats.stations().list().asScala.filter(_.note.nonEmpty)}

@comps.page(nav = "index") {
	<div class='bg-light rounded p-5 my-3 text-center'>
		@if(status.isEmpty) {
			<h1 class='display-1'>@in.rule.name()</h1>
			<p class='lead my-3'>
				@in.msg("start-day", in.rule.getStartDay())
				@in.msg("dead-line", in.rule.getDeadLine())
			</p>
			<div class='d-flex justify-content-center py-2'>
				<a class='btn btn-lg btn-outline-dark mx-2' href='http://@in.rule.link()'>@in.msg("index-rules")</a>
				<a class='btn btn-lg btn-outline-primary mx-2' href='@routes.Index.entry'>@in.msg("index-entry")</a>
			</div>
		} else {
			<h1 class='display-1'>@status</h1>
			<h1 class='display-5'>ERROR</h1>
		}
	</div>
	<div class='text-center'>
	@if(in.cf.get[Boolean]("play.mailer.mock")) {
		<div class='alert alert-warning'>
			@in.msg("mock")
		</div>
	} else if(!in.rule.accept()) {
		<div class='alert alert-info'>
			@in.msg("dead")
		</div>
	}
	</div>
	<figure>
		@defining(util.Random.shuffle(notes).headOption) {station =>
			<blockquote class='blockquote'>
				@station.map(_.note).getOrElse("VVV")
			</blockquote>
			<figcaption class='blockquote-footer'>
				@station.map(_.call).getOrElse(in.rule.host())
			</figcaption>
		}
	</figure>
	<div class='text-center'>
		<a href='https://zlog.org'>@in.msg("zlog")</a>
	</div>
	<footer class='text-center text-muted bg-light fixed-bottom'>
		Contributed by @Source.fromResource("contributors").getLines().mkString(", ").
	</footer>
}
