@(sections: Seq[qxsl.ruler.Section])(implicit cfg: Configuration, db: Database, admin: Boolean=false)

@isLinked(record: Record)=@{admin && !record.sect.contains("総合部門")}

@comps.frame(title=if(admin) "管理画面" else "暫定結果", nav=if(admin) "admin" else "lists") {
@if(admin) {
<div class="alert alert-danger">
	このページは管理者用につき、外部から閲覧可能な場合は直ちに設定を変更せよ。
</div>
<div class="alert alert-info">
	各部門の表をクリックすることで、参加者の個別ページを閲覧することができる。
</div>
<div class="text-right">
	<a class="btn btn-primary" href="@routes.Admin.form(-1)"><span class="glyphicon glyphicon-plus"></span> 参加者の追加</a>
</div>
} else {
<div class="alert alert-warning">
	掲載内容に誤りがある場合は、直ちに主催者に連絡してください。
	赤太字は暫定表彰局ですが、審査により失格することがあります。
</div>
}
@if(admin || !DeadLine.isOK || DeadLine.demo) {
@for(sect <- sections) {
<div class="par panel panel-default">
	<div class="panel-heading">
		<h3>@{sect.getName}</h3>
	</div>
@if(Record.ofSect(sect.getName).nonEmpty) {
	<table class="table table-hover">
		<tr>
			<th width="10%">順位</th>
			<th width="20%">呼出符号</th>
			<th width="10%">素点</th>
			<th width="10%">乗数</th>
			<th width="10%">総得点</th>
			<th width="40%">運用地</th>
		</tr>
		@for(record <- Record.ofSect(sect.getName).sortBy(-_.score)) {
		<tr class="link @if(record.award) {award}" @if(isLinked(record)) {onclick="window.location='@routes.Admin.sums(record.id)';"}>
			<td>@{1 + record.place}</td>
			<td>@{record.call}</td>
			<td>@{record.calls}</td>
			<td>@{record.mults}</td>
			<td>@{record.score}</td>
			<td>@{record.city}</td>
		</tr>
		}
		</tbody>
	</table>
	<div class="panel-footer">
		<p>当該部門の登録者数の10%(小数点以下切捨て)に1を足した順位 (最大7位) までを表彰する。</p>
	</div>
}
</div>
}
} else {
<div class="alert alert-info">
	現在、受付期間につき非公開とする。
</div>
}
}
