@(record: Record)(implicit cfg: Configuration, req: RequestHeader=null, admin: Boolean=false)

@import comps._

@summ = @{Tables(record.file,record.sect).score}

@comps.frame(title="提出書類の確認", nav=if(admin) "admin" else "entry") {
@if(!admin) {
<div class="alert alert-success">
	下記の内容で受理しました。
	交信記録が正しく読み込まれたかご確認ください。
	訂正が必要な場合は期間内に限り再提出できます。
</div>
}
<div class="card mb-5">
	<h3 class="card-header border-bottom-0 d-flex align-items-center justify-content-between">
		<span>@record.sect</span>
		@if(admin) {
		<div class="btn-group">
			<a class="btn btn-outline-primary" href="@routes.Admin.form(record.id)"><i class="fas fa-edit"></i> 再提出する</a>
			<a class="btn btn-outline-danger" href="#deleteModal" data-toggle="modal"><i class="fas fa-trash"></i> 削除する</a>
		</div>
		}
	</h3>
	<table class="table">
		<thead>
			<tr>
				<th>呼出符号</th>
				<th>運用場所</th>
				<th>お名前</th>
				<th>ご住所</th>
				<th>メール</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>@record.call</td>
				<td>@record.city</td>
				<td>@record.name</td>
				<td>@record.addr</td>
				<td><a href="mailto:@record.mail">@record.mail</a></td>
			</tr>
		</tbody>
	</table>
@if(record.comm.nonEmpty) {
	<div class="card-footer">
		@record.comm
	</div>
}
</div>
<div class="card mb-5">
	<h3 class="card-header">暫定の得点</h3>
	<div class="card-body">
		<strong>@{summ.total}点</strong> (素点@summ.score 乗数@summ.mults)
	</div>
</div>
@table(head="有効な交信", record, summ.accepted().map(_.item).toSeq)
@table(head="無効な交信", record, summ.rejected().map(_.item).toSeq)
@if(admin) {
@helper.form(action=routes.Admin.elim(record.id)) {
@helper.CSRF.formField
<div class="modal" id="deleteModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">書類の削除</h4>
			</div>
			<div class="modal-body">
				<p>@record.call (@record.sect) を削除します。</p>
				<p class="text-danger">この操作は取り消せません。</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger" type="submit">削除する</button>
				<button class="btn btn-primary" data-dismiss="modal">削除しない</button>
			</div>
		</div>
	</div>
</div>
}
}
}
