@(call: String)(implicit r: RequestHeader, c: Configuration, ats: ATS, rule: Program, admin: Boolean)

@station = @{ats.stations().byCall(call).get(0)}

@comps.page(title = "提出書類の確認", nav = "lists") {
	@if(!admin) {
		<div class='alert alert-success'>
			下記の内容で受理しました。
			交信記録が正しく読み込まれたかご確認ください。
			訂正が必要な場合は期間内に限り再提出できます。
		</div>
	}
	<div class='card mb-5'>
		<h3 class='card-header d-flex justify-content-between'>
			<span id='CALL'>@station.call</span>
			@if(admin) {
				<a class='btn btn-outline-primary' href='@routes.Admin.amend(station.call)'>
					<i class='fas fa-edit'></i>
				</a>
			}
		</h3>
		<div class='card-body'>
			<p>〒@{station.post} @{station.addr}</p>
			<p>@{station.name}様</p>
			<p><a href='mailto:@station.mail'>@station.mail</a></p>
		</div>
	</div>
	@if(station.note.nonEmpty) {
		<blockquote class='mb-5'>
			@station.note
		</blockquote>
	}
	@for(archive <- ats.archives().byCall(call).asScala) {
		@defining(util.Try(ats.archives().getItems(archive))) {items =>
			<div class='card my-5 @if(items.isFailure) {bg-warning}'>
				<h3 class='card-header d-flex justify-content-between'>
					<span>@if(archive.file.nonEmpty) {@archive.file} else {無名}</span>
					@if(admin && archive.file.nonEmpty) {
						<a class='btn btn-outline-success' href='@routes.Admin.table(archive.call, archive.file)'>
							<i class='fas fa-download'></i>
						</a>
					}
				</h3>
				@if(items.isFailure){
					@if(admin){
						<pre class='card-body'>@{items.failed.get.getMessage()}</pre>
					} else {
						<div class='card-body'>交信記録が読み取れません。再提出をお勧めします。</div>
					}
				} else {
					<div class='card-body'>@{items.get.size()}件の交信</div>
				}
			</div>
		}
	}
	@defining(ats.messages().search(station.call).asScala.toSeq) {items =>
		@for(ranking <- ats.rankings().byCall(station.call)) {
			@comps.summ(ranking, items)
		}
	}
	@if(admin) {
		@comps.warn(id = "delete", title = "書類の削除", button = "削除する", icon = "fas fa-trash") {
			<p>@{station.call}の書類を削除します。</p>
			<p class='text-danger'>この操作は取り消せません。</p>
		}
	}
	<script>
	@if(admin) {
		$('#deleteButton').click(function () {
			$.ajax({type: 'DELETE', url: '@helper.CSRF(routes.Force.drop(station.call))'}).done(() => window.location='@routes.Admin.index');
		});
	} else {
		$(function() {
			$.ajax({type: 'GET', url: 'http://localhost:8873?id=@station.uuid'});
		});
	}
	</script>
}
