@(post: Post)(cfg: play.api.Configuration)

@import qxsl.field._
@mail = @{cfg.get[String]("contest.mail")}

@frame(title = "書類提出の完了", nav = "entry")(cfg) {
	<div class="alert alert-success">
		下記の内容で提出書類を受理しました。訂正が必要な場合は期間内に限り再提出できます。</h4>
	</div>
	<h2><span class="glyphicon glyphicon-user"/> 参加局の情報</h2>
	<br>
	<br>
	<table class="table">
		<tr>
			<th>番号</th>
			<th>呼出符号</th>
			<th>部門</th>
			<th>運用地</th>
			<th>お名前</th>
			<th>メール</th>
			<th>ご住所</th>
		</tr>
		<tr>
			<td>@post.id</td>
			<td>@post.disp</td>
			<td>@post.sect</td>
			<td>@post.city</td>
			<td>@post.name 様</td>
			<td>@post.mail</td>
			<td>@post.addr</td>
		</tr>
	</table>
@if(post.comm.nonEmpty) {
	<p class="well">@post.comm</p>
}
	<br>
	@table(Scan(post.elog).summ(post))
	<br>
	<div class="alert alert-warning">
		このページを閉じると二度と表示されません。必ず控えを取ってください。
	</div>
	<fieldset>
		<a class="btn btn-primary" onclick="window.print()"><span class="glyphicon glyphicon-print"></span> 印刷する</a>
		<a class="btn btn-default" href="mailto:@mail"><span class="glyphicon glyphicon-earphone"></span> 不具合を報告</a>
	</fieldset>
	<br>
	<br>
}
