@(pform: Form[Prof], warn: Option[Warn] = None)(cfg: play.api.Configuration)(implicit req: RequestHeader)

@frame(title = "書類提出", nav = "entry")(cfg) {
@if(warn.nonEmpty) {
	<fieldset class="alert alert-danger">
		<span class="glyphicon glyphicon-warning-sign"></span> @warn
	</fieldset>
} else {
	<fieldset class="alert alert-info">
		午前と午後の双方の部門に参加した場合は、午前と午後で別々に提出してください
	</fieldset>
}
@helper.form(action = routes.Entry.push, 'class->"form-horizontal", 'enctype->"multipart/form-data") {
	@helper.CSRF.formField
	<h3><span class="glyphicon glyphicon-user"></span> 参加局の情報</h3>
	<fieldset class="well">
		@input(
			pform("call"),
			text = "呼出符号",
			hint = "移動運用の例: JA1ZLO/1"
		)
		@combo(
			pform("city"),
			opts = (models.Conf.inner ++ models.Conf.outer).map(_.getCityName),
			text = "運用場所",
			hint = "未選択"
		)
		@combo(
			pform("sect"),
			opts = Conf.sects.map(_.getName.split(" ").tail.mkString(" ")).filterNot(_.contains("総合")).distinct,
			text = "参加部門",
			hint = "未選択"
		)
		@input(
			pform("name"),
			text = "お名前",
			hint = "この宛名で賞を発送します"
		)
		@input(
			pform("addr"),
			text = "ご住所",
			hint = "この宛先に賞を発送します"
		)
		@input(
			pform("mail"),
			text = "メール",
			hint = "受理通知メールが届きます"
		)
		@tarea(
			pform("comm"),
			text = "ご感想",
			hint = "呼出符号付きで公表します"
		)
	</fieldset>
	<br>
	<h3><span class="glyphicon glyphicon-th-list"></span> 交信記録</h3>
	<fieldset class="alert alert-info">
		JARLサマリーシートをアップロードした場合は、交信記録の部分のみを読み取ります
	</fieldset>
	<fieldset class="well">
		@filer(
			id    = "eLog",
			name  = "eLog",
			hint  = "右のボタンをクリックして交信記録ファイルを選択してください"
		)
		<br>
		<div class="panel-group" id="accformats">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accformats" href="#colformats">
							対応済みの電子ログのフォーマットの一覧を見る
						</a>
					</h4>
				</div>
				<div class="panel-collapse collapse" id="colformats">
					<div class="panel-body">
						<ul>
					@{
						for(format <- new qxsl.table.Tables()) yield(
							<li>{format}</li>
						)
					}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</fieldset>
	<br>
	<fieldset>
		<input class="btn btn-primary" type="submit" value="この内容で提出します">
		<a type="button" id="error-button" class="btn btn-default pull-right" href="@routes.Quest.view">よくあるご質問</a>
	</fieldset>
	<br>
	<br>
}
}
