@(sections: Seq[Sect])

@frame(title = "暫定結果", nav = "lists") {
<div class="alert alert-warning">
	掲載内容に誤りがある場合は、直ちに異議申し立てを行ってください
</div>
<br>
@for(section <- sections) {
	<h4>@{section.name}</h4>
	<table class="table">
		<tr>
			<th width="10%">順位</th>
			<th width="20%">呼出符号</th>
			<th width="10%">交信局数</th>
			<th width="10%">マルチ数</th>
			<th width="10%">総得点</th>
			<th width="40%">運用地</th>
		</tr>
@for(post <- if(!models.Conf.isOK || models.Conf.demo) section.sorted else Seq()) {
	@if(section.prize(post)) {
		<tr>
			<td><font color="red"><strong>@{section.place(post) + 1}</strong></font></td>
			<td><font color="red"><strong>@{post.disp}</strong></font></td>
			<td><font color="red"><strong>@{post.cnt}</strong></font></td>
			<td><font color="red"><strong>@{post.mul}</strong></font></td>
			<td><font color="red"><strong>@{post.score}</strong></font></td>
			<td><font color="red"><strong>@{post.city}</strong></font></td>
		</tr>
	} else {
		<tr>
			<td>@{section.place(post) + 1}</td>
			<td>@{post.disp}</td>
			<td>@{post.cnt}</td>
			<td>@{post.mul}</td>
			<td>@{post.score}</td>
			<td>@{post.city}</td>
		</tr>
	}
}
	</table>
	<br>
	<br>
	<br>
}
<div class="alert alert-warning">
	赤太字は暫定入賞局ですが、審査によって除外されることがあります
</div>
}
