@(entry: Entry, document: fxlog.model.Document)

@main(title = "書類提出の完了", nav = "submit") {
	<div class="alert alert-success">
		下記の内容で提出書類を受理しました。訂正が必要な場合は期間内に限り再提出できます。</h4>
	</div>
	<h2><span class="glyphicon glyphicon-user"/> 参加局の情報</h2>
	<br>
	<h4>@{entry.sect}部門</h4>
	<br>
	<table class="table">
		<tr>
			<th>呼出符号</th>
			<th>運用地</th>
			<th>お名前</th>
			<th>メール</th>
			<th>ご住所</th>
		</tr>
		<tr>
			<td>@entry.displayCall</td>
			<td>@entry.city</td>
			<td>@entry.name 様</td>
			<td>@entry.mail</td>
			<td>@entry.addr</td>
		</tr>
	</table>
@if(entry.comm.isDefined) {
	<p>@entry.comm.get</p>
}
	<br>
	<h2><span class="glyphicon glyphicon-tower"/> 得点</h2>
	<br>
	<p class="well">@{entry.score}点(交信局数@entry.calls 獲得マルチ数@entry.mults) 無効な交信を除外して計算</p>
	<br>
	<h2><span class="glyphicon glyphicon-ok"/> 有効な交信</h2>
	<br>
	<div class="alert alert-warning">
		相手局の呼出符号や運用地が正しく処理されているかご確認ください
	</div>
	<table class="table">
		<tr>
			<th width="5%"></th>
			<th width="30%">交信日時</th>
			<th width="15%">相手局</th>
			<th width="15%">周波数帯</th>
			<th width="15%">通信方式</th>
			<th width="20%">運用地</th>
		</tr>
@{
	var index = 0
	val indexFormat = new java.text.DecimalFormat("000")
	val dateFormat = new java.text.SimpleDateFormat("yyyy年M月d日 HH時mm分")
	for(record <- entry.validRecords(document)) yield(
		<tr>
			<td>{index += 1; indexFormat.format(index)}</td>
			<td>{dateFormat.format(record.getTime.getValue)}</td>
			<td>{record.getCall}</td>
			<td>{record.getBand}</td>
			<td>{record.getMode}</td>
			<td>{Option(record.getRcvdCity).getOrElse("(" + record.getRcvdSerial + ")")}</td>
		</tr>
	)
}
	</table>
	<br>
	<h2><span class="glyphicon glyphicon-remove"/> 無効な交信</h2>
	<br>
	<table class="table">
		<tr>
			<th width="5%"></th>
			<th width="30%">交信日時</th>
			<th width="15%">相手局</th>
			<th width="15%">周波数帯</th>
			<th width="15%">通信方式</th>
			<th width="20%">運用地</th>
		</tr>
@{
	var index = 0
	val indexFormat = new java.text.DecimalFormat("000")
	val dateFormat = new java.text.SimpleDateFormat("yyyy年M月d日 HH時mm分")
	for(record <- entry.invalidRecords(document)) yield(
		<tr>
			<td>{index += 1; indexFormat.format(index)}</td>
			<td>{dateFormat.format(record.getTime.getValue)}</td>
			<td>{record.getCall}</td>
			<td>{record.getBand}</td>
			<td>{record.getMode}</td>
			<td>{Option(record.getRcvdCity).getOrElse("(" + record.getRcvdSerial + ")")}</td>
		</tr>
	)
}
	</table>
	<br>
	<div class="alert alert-warning">
		このページを閉じると二度と表示されません。必ず控えを取ってください。
	</div>
	<fieldset>
		<a class="btn btn-primary" onclick="window.print()"><span class="glyphicon glyphicon-print"/> 印刷する</a>
		<a class="btn btn-default" href="mailto:@Contest.mail"><span class="glyphicon glyphicon-earphone"/> 不具合を報告</a>
	</fieldset>
	<br>
	<br>
}
