@(summ: qxsl.ruler.Summary)

@import java.time.{LocalDateTime, ZoneId}
@import java.time.format.DateTimeFormatter
@import qxsl.field._

@indexFormat = @{new java.text.DecimalFormat("000")}
@dTimeFormat = @{DateTimeFormatter.ofPattern("yyyy-MM-dd HH:mm:ss")}

<div>
	<h2><span class="glyphicon glyphicon-tower"/> 暫定得点</h2>
	<br>
	<p class="well"><strong>@{summ.score}点</strong> (交信局数@summ.calls 獲得マルチ数@summ.mults)</p>
	<br>
	<h2><span class="glyphicon glyphicon-ok"/> 有効交信</h2>
	<br>
	<div class="alert alert-warning">
		相手局の呼出符号や運用地が正しく処理されているかご確認ください
	</div>
	<table class="table">
		<tr>
			<th width="5%"></th>
			<th width="30%">交信日時</th>
			<th width="15%">相手局</th>
			<th width="15%">周波数帯</th>
			<th width="15%">通信方式</th>
			<th width="20%">運用地</th>
		</tr>
@{
	var index = 0
	for(item <- summ.accepted()) yield(
		<tr>
			<td>{index += 1; indexFormat.format(index)}</td>
			<td>{LocalDateTime.ofInstant(item.get(classOf[Time]).value.toInstant, ZoneId.systemDefault).format(dTimeFormat)}</td>
			<td>{item.get(classOf[Call])}</td>
			<td>{item.get(classOf[Band])}</td>
			<td>{item.get(classOf[Mode])}</td>
			<td>{item.getRcvd.get(classOf[Code])}</td>
		</tr>
	)
}
	</table>
	<br>
	<h2><span class="glyphicon glyphicon-remove"/> 無効交信</h2>
	<br>
	<div class="alert alert-info">
		時間外の交信や部門外の周波数帯など、<strong>書類の不備</strong>により、得点計算の対象と認められない交信です
	</div>
	<div class="alert alert-warning">
		参加局は無効な交信リストを読み、得点に加算されるべき交信があれば、<strong>主催者に連絡</strong>してください
	</div>
	<br>
	<table class="table">
		<tr>
			<th width="5%"></th>
			<th width="30%">交信日時</th>
			<th width="15%">相手局</th>
			<th width="15%">周波数帯</th>
			<th width="15%">通信方式</th>
			<th width="20%">運用地</th>
		</tr>
@{
	var index = 0
	for(item <- summ.rejected()) yield(
		<tr>
			<td>{index += 1; indexFormat.format(index)}</td>
			<td>{LocalDateTime.ofInstant(item.get(classOf[Time]).value.toInstant, ZoneId.systemDefault).format(dTimeFormat)}</td>
			<td>{item.get(classOf[Call])}</td>
			<td>{item.get(classOf[Band])}</td>
			<td>{item.get(classOf[Mode])}</td>
			<td>{item.getRcvd.get(classOf[Code])}</td>
		</tr>
	)
}
	</table>
</div>
